body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b19aa5;
}

header {
    background-color: #007bff;
    padding: 1rem;
    color: #fff;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 1rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.container {
    display: flex;
}

aside {
    width: 250px;
    padding: 1rem;
    background-color: #343a40;
    color: #f3ebeb;
    height: 100vh;
}

aside .profile img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

aside ul {
    list-style: none;
    background-color: #343a40;
    padding: 0;
}

aside ul li {
    margin: 1rem 0;

}

aside ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    flex: 1;
    padding: 2rem;
    background-color: #FFCCE5;
}

.course-card {
    background-color: #e9ecef;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 5px;
}

.progress-bar {
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin: 1rem 0;
}

.progress {
    background-color: #CCE5FF;
    height: 10px;
}

footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
